In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('Z:\Z\RDS_02\movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
861,tt1588334,10000000,4417580,"Jeff, Who Lives at Home",Jason Segel|Ed Helms|Susan Sarandon|Judy Greer...,Mark Duplass|Jay Duplass,The first step to finding your destiny is leav...,Dispatched from his basement room on an errand...,83,Drama|Comedy,Indian Paintbrush,9/13/2011,5.9,2011
339,tt1232207,20000000,17436509,Capitalism: A Love Story,Michael Moore|Thora Birch|William Black|Elijah...,Michael Moore,"Ask not what your C.E.O. can do for you, but w...",Michael Moore's Capitalism: A Love Story comes...,120,Documentary,The Weinstein Company|Paramount Vantage,9/6/2009,6.9,2009
328,tt1186830,70000000,39041505,Agora,Rachel Weisz|Max Minghella|Oscar Isaac|Ashraf ...,Alejandro AmenÃ¡bar,"Alexandria, Egypt. 391 A.D. The World Changed ...","A historical drama set in Roman Egypt, concern...",127,Adventure|Drama|History,HimenÃ³ptero|Telecinco Cinema|Mod Producciones...,5/17/2009,6.6,2009
363,tt1232783,12500000,27206120,Sorority Row,Rumer Willis|Briana Evigan|Jamie Chung|Leah Pi...,Stewart Hendler,The Sisters of Theta Pi Are Dying To Keep a Se...,When five sorority girls inadvertently cause t...,101,Horror|Mystery|Thriller,Summit Entertainment|Karz Entertainment,9/9/2009,5.3,2009
892,tt0259446,5000000,368744044,My Big Fat Greek Wedding,Nia Vardalos|John Corbett|Lainie Kazan|Michael...,Joel Zwick,Love is here to stay... so is her family.,A young Greek woman falls in love with a non-G...,95,Comedy|Drama|Romance,MPH Entertainment|Playtone Productions|Gold Ci...,2/22/2002,6.1,2002

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
df2 = data[['original_title', 'imdb_id', 'budget']].sort_values(by='budget', ascending=False)
print(df2.head(1))

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

ВАРИАНТ 2

In [7]:
df2 = data[['original_title', 'imdb_id', 'budget']]
print(df2.nlargest(1, 'budget'))

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [9]:
df2 = data[['original_title', 'imdb_id', 'runtime']]
print(df2.nlargest(1, 'runtime'))

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh  (tt1449283)'
df2 = data[['original_title', 'imdb_id', 'runtime']]
print(df2.nsmallest(1, 'runtime'))

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '02. 110'
print(data.runtime.mean())

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = '1. 107'
print(data.runtime.median())

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar  (tt0499549)'
df2 = data[['original_title', 'imdb_id', 'budget', 'revenue']].copy()
df2['profit'] = df2[['revenue']].apply(lambda x: x - df2.budget)
print(df2.nlargest(1, 'profit'))

    original_title    imdb_id     budget     revenue      profit
239         Avatar  tt0499549  237000000  2781505847  2544505847

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
df2 = data[['original_title', 'imdb_id', 'budget', 'revenue']].copy()
df2['profit'] = df2[['revenue']].apply(lambda x: x - df2.budget)
print(df2.nsmallest(1, 'profit'))

       original_title    imdb_id     budget   revenue     profit
1245  The Lone Ranger  tt1210819  255000000  89289910 -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = '1. 1478'
df2 = data[['original_title', 'imdb_id', 'budget', 'revenue']]
print(df2[(df2.revenue > df2.budget)].imdb_id.count())

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
answers['9'] = '4. The Dark Knight (tt0468569)'
df2 = data[['original_title', 'imdb_id', 'revenue', 'release_year']]
print(df2[(df2.release_year == 2008)].nlargest(1, 'revenue').head(1).to_string())

      original_title    imdb_id     revenue  release_year
599  The Dark Knight  tt0468569  1001921825          2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
df2 = data[['original_title', 'imdb_id', 'budget', 'revenue', 'release_year']].copy()
df2['profit'] = df2[['revenue']].apply(lambda x: x - df2.budget)
df2 = df2.query('2012 <= release_year <= 2014')
print(df2.nsmallest(1, 'profit'))

       original_title    imdb_id     budget   revenue  release_year     profit
1245  The Lone Ranger  tt1210819  255000000  89289910          2013 -165710090

# 11. Какого жанра фильмов больше всего?

In [18]:
answers['11'] = '3. Drama'
df2 = data[['genres']].copy()
print(df2['genres'].str.split('|').explode('genres').value_counts().nlargest(1))

Drama    782
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
answers['12'] = '1. Drama'
df2 = data[['budget', 'revenue', 'genres']].copy()
df2['profit'] = df2[['revenue']].apply(lambda x: x - df2.budget)
print(df2[df2.profit>0].genres.str.split('|').explode().mode())

0    Drama
dtype: object

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [20]:
answers['13'] = '5. Peter Jackson'
df2 = data[['director', 'revenue']].copy()
df2['director'].str.split('|').explode('director')
print(pd.pivot_table(df2, values='revenue', index='director', aggfunc='sum').nlargest(1, 'revenue'))

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:
answers['14'] = '3. Robert Rodriguez'
df2 = data[['director', 'genres']].copy()
df2 = df2[df2.genres.str.contains('Action')]
df3 = df2['director'].str.split('|').explode('director')
print(df3.value_counts().nlargest(1))

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [22]:
answers['15'] = '3. Chris Hemsworth'
df2 = data[['release_year', 'revenue', 'cast']].copy()
df2 = df2.loc[df2.release_year == 2012]
df2.cast = df2.cast.str.split('|')
df2 = df2.explode('cast')
print(pd.pivot_table(df2, values='revenue', index='cast', aggfunc='sum').nlargest(1, 'revenue'))

                    revenue
cast
Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [23]:
answers['16'] = '3. Matt Damon'
df2 = data.copy()
print(df2[df2.budget > df2.budget.mean()].cast.str.split('|').explode('cast').mode())

0    Matt Damon
dtype: object

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
answers['17'] = '2. Action'
df2 = data[['cast', 'genres']].copy()
df2 = df2[df2.cast.str.contains('Nicolas Cage')]
df2 = df2['genres'].str.split('|').explode('genres')
print(df2.value_counts().nlargest(1))

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [25]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
df2 = data[['original_title', 'imdb_id', 'budget', 'revenue', 'production_companies']].copy()
df2 = df2[df2.production_companies.str.contains('Paramount Pictures')].set_index('imdb_id')
df2['profit'] = df2[['revenue']].apply(lambda x: x - df2.budget)
display(df2.nsmallest(1, 'profit'))

,original_title,budget,revenue,production_companies,profit
imdb_id,,,,,
tt0267626,K-19: The Widowmaker,100000000,35168966,Paramount Pictures|Intermedia Films|National G...,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [26]:
answers['19'] = '5. 2015'
df2 = data[['revenue', 'release_year']].copy()
df2 = df2.set_index('release_year')
print(df2.groupby(['release_year']).sum().nlargest(1, 'revenue'))

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [27]:
answers['20'] = '1. 2014'
df2 = data[['budget', 'revenue', 'production_companies', 'release_year']].copy()
df2 = df2[df2.production_companies.str.contains('Warner Bros')].set_index('release_year')
df2['profit'] = df2[['revenue']].apply(lambda x: x - df2.budget)
print(df2.groupby(['release_year']).sum().nlargest(1, 'profit'))

                 budget     revenue      profit
release_year
2014          947600000  3243064519  2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [28]:
answers['21'] = '4. сентябрь'
df2 = data[['imdb_id', 'release_date']].copy().set_index('imdb_id')
df3 = df2['release_date'].str.split('/', expand=True)  # date to new columns
df3.rename(columns={0: "month", 1: "day", 2: "year"}, inplace=True)
print(pd.pivot_table(df3, index='month', aggfunc='count').nlargest(1, 'day'))

       day  year
month
9      227   227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [29]:
answers['22'] = '2. 450'
df2 = data[['imdb_id', 'release_date']].copy().set_index('imdb_id')
df2 = df2['release_date'].str.split('/', expand=True)
df2.rename(columns={0: "month", 1: "day", 2: "year"}, inplace=True)
df3 = pd.pivot_table(df2, index='month', aggfunc='count')
print(df3.loc['6':'8'].sum())

day     450
year    450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [30]:
answers['23'] = '5. Peter Jackson'
df2 = data[['imdb_id', 'release_date', 'director']].copy().set_index('imdb_id')
df2.director = df2.director.str.split('|')
df3 = df2.explode('director')
df3.release_date = df3['release_date'].str.split('/', expand=True)
df3.rename(columns={"release_date": "month", "director": "director"}, inplace=True)
df4 = df3.loc[df3['month'].isin(['12', '1', '2'])]
print(pd.pivot_table(df4, index='director', aggfunc='count').nlargest(1, 'month'))

               month
director
Peter Jackson      7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [31]:
answers['24'] = '5. Four By Two Productions'
df2 = data[['original_title', 'production_companies', 'imdb_id']].copy().set_index('imdb_id')
df2['length'] = df2['original_title'].map(lambda x: len(x))
df2.production_companies = df2.production_companies.str.split('|')
df3 = df2.explode('production_companies')
df4 = pd.pivot_table(df3, values='length', index='production_companies', aggfunc='mean')
print(df4.sort_values(by='length', ascending=False).head(1))

                         length
production_companies
Four By Two Productions    83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [32]:
answers['25'] = '3. Midnight Picture Show '
df2 = data[['overview', 'production_companies', 'imdb_id']].copy()
df2['o_length'] = df2['overview'].str.split(' ').str.len()
df2.production_companies = df2.production_companies.str.split('|')
df3 = df2.explode('production_companies')
print(df3.groupby('production_companies')['o_length'].mean().nlargest(1))

production_companies
Midnight Picture Show    175.0
Name: o_length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [33]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
df2 = data[['original_title', 'imdb_id', 'vote_average']].copy().set_index('imdb_id')
print(df2[df2.vote_average > df2.vote_average.quantile(q=0.99)].nlargest(20, 'vote_average'))

                                          original_title  vote_average
imdb_id
tt0468569                                The Dark Knight           8.1
tt2096673                                     Inside Out           8.0
tt3170832                                           Room           8.0
tt0816692                                   Interstellar           8.0
tt2084970                             The Imitation Game           8.0
tt2015381                        Guardians of the Galaxy           7.9
tt2267998                                      Gone Girl           7.9
tt2278388                       The Grand Budapest Hotel           7.9
tt1375666                                      Inception           7.9
tt0253474                                    The Pianist           7.9
tt0167260  The Lord of the Rings: The Return of the King           7.9
tt0993846                        The Wolf of Wall Street           7.9
tt2024544                               12 Years a Slave           7.9
tt0209144                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [34]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
from itertools import combinations
df2 = data[['cast']].copy()
df2 = df2['cast'].str.split('|').apply(lambda x: list(combinations(x, 2)))
print(df2.explode('cast').value_counts().head(3))

(Daniel Radcliffe, Rupert Grint)    8
(Daniel Radcliffe, Emma Watson)     8
(Rupert Grint, Emma Watson)         7
Name: cast, dtype: int64

# Submission

In [35]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh  (tt1449283)',
 '4': '02. 110',
 '5': '1. 107',
 '6': '5. Avatar  (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show ',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [36]:
# и убедиться что ни чего не пропустил)
len(answers)

27